html, body 
{
  height: 100%;
}

.navbar-toggle 
{
  float: left;
  margin-left: 15px;
}

.navmenu 
{
  z-index: 1;
}

.canvas 
{
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

/* vertical-centered text */
.text-vcenter 
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vcenter h1 
{
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home 
{
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg
{ 
  position: fixed; 
  left: 0; top: 0; right: 0; bottom: 0;
  background: url("img/bg.jpg") top center no-repeat; z-index: -1; 
  length: 100%;
}

#services
{
  background: white;
}

#desktop-navi
{
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: blue;
  height: 100px;
  margin-top: -100px;
}

@media (min-width: 0) 
{
  .navbar-toggle 
  {
    display: block; /* force showing the toggle */
  }
  #desktop-navi
  {
    display: none;
  }
}

@media (min-width: 1000px) 
{
  body 
  {
    padding: 0;
  }
  .navbar 
  {
/* 
    right: auto;
    background: none;
    border: none;
 */
    display: none;
  }
  .canvas 
  {
    padding: 0;
  }
  #desktop-navi
  {
    display: block; /* force showing the navi */
  }
}